.sub{
    height:40px;
    width:105px;
    font-size: 14px;
    background-color: rgb(200, 50, 50);
    border:none;
    color:white;
    margin:10px;
    margin-left: 0px;
    transition: opacity 0.15s;

}

.sub:hover{
    opacity: 0.85;
    cursor: pointer;
}

.sub:active{
    opacity:0.6;
}

.join{
    height:40px;
    width:85px;
    border-radius: 2px;
    background-color: white;
    border-color: rgb(8, 158, 158) ;
    border-style: solid;
    color:rgb(8, 158, 158) ;
    font-size: 16px;
    transition: all 0.15s;
    margin-right: 10px;
}

.join:hover{
    background-color: rgb(8, 158, 158) ;
    color :white;
    cursor: pointer;
}
.join:active{
    opacity:0.8;
}

.tweet{
    height:40px;
    width:80px;
    border:none;
    background-color: rgb(33, 123, 123);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.15s;
}

.tweet:hover{
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);

}

.tweet:active{
    opacity: 0.8;
}

